header {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(85, 99, 151, .21);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  .navbar {
    align-content: center;
    display: flex;
    flex: 0 0 85%;
    justify-content: space-between;
    max-width: 1300px;
    width: 85%;

    @media only screen and (min-width: 900px) {
      height: 100%;
    }

    .navbar-brand {
      height: 70px;
      width: 70px;
      margin-right: 0;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .nav {
      flex: 0 0 60%;
      justify-content: flex-end;
      .nav-item {
        .nav-link {
          color: #33323c;
          text-decoration: none;
        }

        &:nth-child(4) {
          position: relative;
          i {
            font-size: 1.25em;
            z-index: 1;
          }

          .products-count {
            align-items: center;
            background-color: #ff8100;
            border-radius: 50%;
            color: #fff;
            display: flex;
            height: 15px;
            font-size: 0.6em;
            justify-content: center;
            right: 1.25em;
            top: -0.5em;
            position: absolute;
            width: 15px;
            z-index: 0;
          }
        }
      }
      .nav-item-last {
        .nav-link {
          // background-color: #d3a863;
          border-radius: 5px;
          // color: #fff;
          margin-left: 1em;
        }

        .dropdown {
          display: inline-block;
          position: relative;

          .nav-link {
            position: relative;
            i {
              right: -0.5em;
              position: absolute;
            }
          }

          .dropdown-content {
            background-color: #d3a863;
            border-radius: 0.5rem;
            display: none;
            margin: 0;
            margin-top: 0.25rem;
            position: absolute;
            right: 0;
            padding: 0.5em 0.75em;
            text-align: end;
            width: 90%;
            a {
              color: #fff;
              text-decoration: none;
            }
          }

          &:hover .dropdown-content {
            color: #fff;
            display: block;
          }
        }
      }
    }
  }
}
