.main-admin {
  // background-color: #4d5168;
  background-color: #edeef7;
  display: flex;
  flex: 0 0 100%;
  height: 100%;
  overflow-x: hidden;

  .main-admin__container {
    align-content: flex-start;
    display: flex;
    flex: 0 0 95%;
    flex-flow: row wrap;

    .main-admin__topmenu {
      display: flex;
      border-bottom: 0.5px solid #4d516830;
      flex: 0 0 100%;
      top: 0;
      height: 60px;
    }
  }
}

.breadcrumb {
  margin: 1em;
}
